vim/bundle/**
!vim/bundle/.gitkeep
vim/.netrwhist

/gnupg/trustdb.gpg
/gnupg/pubring.*
/gnupg/private-keys-v1.d/
/gnupg/openpgp-revocs.d/
/gnupg/sshcontrol

bin/
!bin/apply_git_template
!bin/dark
!bin/install_composer.sh
!bin/light
!bin/public_port
