<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.martijngastkemper.opencode-update</string>
    <key>ProgramArguments</key>
    	<array>
     		<string>/bin/sh</string>
    		<string>-c</string>
    		<string>sh ~/.dotfiles/bin/check_opencode_update</string>
    	</array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.martijngastkemper.opencode-update.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.martijngastkemper.opencode-update.out</string>
</dict>
</plist>

